<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>Some Website</title>
	</head>
	<body>
		<!--<h1>Hi {{userName}},</h1>-->
		<h1>Hi {{screamit userName}},</h1>
		{{> header}}
		<p>Lorem Ipsum</p>
		{{> footer}}
	</body>
</html>